.offer-list, .request-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.blue {
  border: 1px solid blue;
}

.green {
  border: 1px solid green;
}
