// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$pastel-blue: #20b6d8;
$pastel-purple: #95b4e7;
$pastel-pink: #f8b5ed;
$pastel-light-pink: #f8d8ed;
$pastel-yellow: #f8efe3;
