.card-category {
  display: flex;
  flex-direction: row;
  margin: 20px 20px;
  overflow-x: scroll;
  min-height: 120px;
  background-position: center;
  background-size: cover;
  color: #fefefe;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(13, 13, 13);
  border-radius: 4px;
  box-shadow: 6px 5px 15px rgba(54, 54, 54, 0.2);
}

a{
  text-decoration: none;

}

h3{
  padding-left: 4px;
  padding-top: 4px;
  text-align: center;

}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.full-wrapper {
  display: flex;
  flex-direction: column;
}

.left {
  float: left;
  shape-outside: polygon(0 0, 0 300px, 200px 300px);
  clip-path: polygon(0 0, 0 300px, 200px 300px);
  background: linear-gradient(to top right, #67D7F5, #86F7CC);
  height: 300px;
  width: 300px;
}

.right {
  float: right;
  shape-outside: polygon(200px 300px, 300px 300px, 300px 0, 0 0);
  clip-path: polygon(200px 300px, 300px 300px, 300px 0, 0 0);
  background: linear-gradient(to bottom left, #67D7F5, #86F7CC);
  height: 300px;
  width: 300px;
}

.search-form {
  display: flex;
  justify-content: center;

}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .left, .right {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
