<div>
  <div class="left"></div>
  <div class="right"></div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure culpa ipsam, necessitatibus tenetur natus, error quibusdam odio voluptas eum facere obcaecati labore explicabo sint! Reprehenderit sapiente debitis non aut dicta.</p>
</div>

  <div class="cards">
    <% @categories.each do |category| %>
      <%= link_to category_toys_path(category), :action => 'go' do %>
        <div class="card-category", style= "background-image: linear-gradient( rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
          <h3><%= category.name %></h3>
        </div>
      <% end %>
    <% end %>
</div>
